body {
  background: #74b8e9;
}
#menu h1 {
  color: #fff;
  font-size: 30px;
text-shadow: 0 0 3px #444;
  float: left;
  margin: 0;
  padding: 0;
    margin-left: 20px;
    margin-right: 15px;
}
#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  margin-top: 10px;
}
#menu{
  color: #fff; 
  text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  
}
h3 {
text-shadow: 0 0 1px #444;
}
#menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
#menu ul li.active,#menu ul li:hover {
  background: #f4f4ed;
  
}
#menu ul li.active a, #menu ul li:hover a{
color: #0E84CC;
}
#menu ul.account-menu {
  float: right;
}
#menu ul.account-menu li {
  background: none;
}
#menu ul.account-menu li a {
  margin-right: 10px;
  text-shadow: 0 0 1px #0E84cc;
  color: #fff;
}
#menu ul.account-menu li a:hover {
    color: #0E84CC;
  text-shadow: 0 0 1px #fff;
}
#header {

}
#page {
  background: #f4f4ed;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 15px;
  border-radius: 5px;
}
.prettybox {
  margin-bottom: 10px;
}

.prettybox-content {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 15px;
}
.twocolumn {
  float: left;
  width: 440px;
  margin-right: 10px;
} 
.prettybox-second {
  margin-left: 20px;
}
.prettybox h3.orange {
  background: #f99d0e;
}
.prettybox h3.yellow {
  background: #f7c651;
}
.prettybox h3.green {
  background: #39CC2D;
}
.prettybox h3.purple {
  background: #9D53B2;
}
.prettybox h3 {
  background-color: #5baae3;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  color: #fff;
  padding-left: 30px;
}
h3.lightning {
  background: #7fbb11 url(../img/icons/lighting_icon&24.png) no-repeat 5px 7px;
}
#footer {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  text-shadow: 0 0 1px #0E84cc;
}

.breadcrumbs {
  list-style: none;
  background: #788D99;
  padding: 10px;
  border-radius: 5px;

}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs li {
  float: left;
  margin-left: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background: url(../img/icons/br_next_icon&24.png) no-repeat;
  background-position: right;
  padding-right: 30px;
}
.breadcrumbs li:last-child {
  background: none;
}
.breadcrumbs li:last-child a{
 color: #74b8e9;
}
.breadcrumbs li:first-child a{
 color: #fff;
}
.breadcrumbs li a {
  color: #fff;
  text-decoration: none;
}
.breadcrumbs li a:hover {
color: #86D3FF;
}
.marketing {
  float: left;
}

.loggedin {
  display: none;
}

.api-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.api-list li {
 
 margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}
.api-list li .item {
  
   height: 20px;
   border-radius: 5px;
   min-height: 40px;
   background: #f4f4ed;
}
.api-list li a {
  color: #000;
   height: 20px;
   background: #f4f4ed;
  padding: 10px;
   
  display: block;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
  float: left;
  width: 768px;
}
.api-list li a:hover {
  background: #ebebeb;
}
.api-list li .buttons {
  float: right;
}
.api-list li .buttons button, button.save {
  height: 40px;
  border: 0;
  display: block;
  float: left;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}
button.save {
  border-radius: 5px;
  float: right;
  background: #8EC63F;

}
.api-list li .buttons .edit {
 
}
.api-list li .buttons .delete {

  border-radius: 0 5px 5px 0px;
}
.api-list li .buttons .delete:hover, .api-list li .buttons .delete.active {
  color: #fff;
  
  background: #FF4742;
}
.api-list li .buttons .edit:hover, .api-list li .buttons .edit.active {
  color: #fff;
  background: #FFB438;
}
.api-list li .edit-pane {
  font-weight: normal;
  display: none;
  width: 95%;
  margin: auto;
  padding: 10px;
  background: #e8e8e8;
  border-radius: 0 0 5px 5px;
}
.api-list li .delete-pane {
  font-weight: normal;
  display: none;
  width: 95%;
  margin: auto;
  padding: 10px;
  background: #e8e8e8;
  border-radius: 0 0 5px 5px;
}
.create-pane {

  font-weight: normal;
  display: none;
  width: 95%;
  margin: auto;
  padding: 10px;
  background: #e8e8e8;
  border-radius: 0 0 5px 5px;

}
form {
 margin: auto;
} 
form input, form label {
  display: block;
  font-size: 13px;
  margin: 5px;
}
form input[type=text], form input[type=password] {
  width: 240px;
  border: 1px solid #ccc;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
}
form textarea {
  padding-left: 10px;
  width: 300px;
  border: 1px solid #ccc;
  height: 100px;
  font-size: 15px;
}
form input[type=submit] {
  background: #f99d0e;
  border: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #fff;
  height: 35px;
  float: right;
  font-weight: bold;
}
.loading, .loading:hover {
  background: #f9af40 url(../img/3.gif) no-repeat center;
  font-size: 0px;
  background-size: 25px;
  width: 65px;
}
form input[type=submit]:hover {
  background: #f9af40;
}
.forgot {
  float: left;
}
.login {
  text-align: left;
}
.loginerror {
  text-align: center;
  color: #ff0000;
}
.registrationerror {
  color: #ff0000;
}
#api {
  padding-top: 20px;
}

.method {
  width: 800px;
  margin: auto;
}
.method .request {
  width: 400px;
  float: left;
}
.method .response {
  width: 400px;
  float: right;
}
.method .response .content, .method .request .content {
  border: 1px solid #ebebeb;
}
