
<h3><%= name %></h3>
<ul class="methods">
<% _.each( methods, function(method) { %>
<li>
  <span class="method-<%= method.method %> method"><%= method.method %></span>
  <span class="method-name"><%= method.name %></span>
  <span class="method-description"><%= method.description %></span>
  <div style="clear:both;"></div>
  <div class="more">
    <div class="request">
      <span>Request</span>
      <pre><%= typeof method.request != 'undefined' ? JSON.stringify(method.request, null, 4) :'No Request' %></pre>
    </div>
    <div class="response">
      <span>Response</span>

      <pre><%= typeof method.response != 'undefined' ? JSON.stringify(method.response, null, 4) :'No Response' %></pre>
    </div>
  <div style="clear:both;"></div>
  </div>
</li> 

<% }); %>

</ul>
