apiHub is sexy

<h2>Requirements</h2>

<ul>
  <li>User Registration/Login</li>
  <li>Add/Edit/Delete APIS</li>
  <li>Add/Edit/Delete CATEGORIES</li>
  <li>Add/Edit/Delete Methods</li>
</ul>
<br />
<h2>Demos</h2>
<ul>
  <li><a target="_blank" href="http://tsa.no.de">No.de</a></li>
</ul>

<br />
<h2>API Proposal</h2>
