<div class="breadcrumbs">
	<ul>
	  <li><a href="#/apis">My Apis</a></li>
	  <% if( typeof api != "undefined" ){ %>
	  <li> <a href="#/apis/<%= api %>"><%= api %></a></li>
      <% }; %>
       <% if( typeof category != "undefined" ){ %>
	  <li> <a href="#/apis/<%= api %>/<%= category %>"><%= category %></a></li>
	      <% }; %>
	   <% if( typeof method != "undefined" ){ %>
	  <li class="last"> <a href="#/apis/<%= api %>/<%= category %>/<%= method %>"><%= method %></a></li>
	      <% }; %>
	</ul>
	<div style="clear: both;"></div>
</div>
