<div class="prettybox">
	<h3 class="lightning">API List
        <span style="float: right;" class="buttons">
          <button class="create">Create</button>
        </span>
        </h3>
<div style="background: #fff;">
        <div class='create-pane'>
<form id="api-create">
<label>Name</label>
<input type="text" name="name">
<input type="text" name="status" value="public" />
<button class="save">Save</button>
</form>
<div style="clear: both;"></div>
</div></div>
	<div class="prettybox-content">
		<ul class="api-list">

<% _.each( apis, function(api){ %>



		  <li>
              <div class="item">
			  <a href="#/apis/lust">

			  <%= api.get("name") %>
</a>
			<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
            </div>
            <div style="clear: both;"></div>
            <div class="delete-pane">
            <h4>Are you sure you want to delete?</h4>
            <div style="clear: both;"></div>
            </div>
            <div class="edit-pane">
              <label>Name</label>
              <input type="text" /> 
              <br />
              <br />
              <br />
              <br />
              <button class="save">Save</button>
              <div style="clear: both;"></div>
            </div>
		  </li>
		  <li>
<% }); %>

<!--
			  <a href="#/apis/klout">Klout</a>
			<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
            <div style="clear: both;"></div>
		  </li>
		  <li>
              <div class="item">
			  <a href="#/apis/apihub">apiHub</a>
			<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
            </div>
            <div style="clear: both;"></div>
            <div class="edit-pane">
            <h4>Are you sure you want to delete?</h4>
            <div style="clear: both;"></div>
            </div>
		  </li>
-->
		</ul>
		
		<div style="clear:both;"></div>
	</div>
</div>
