

<div class="prettybox">
	<h3 class="lightning yellow">Categories</h3>
	<div class="prettybox-content">
	<ul class="api-list">
	  <li><a href="#/apis/lust/session">Session</a>
	  	<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
			</li>
	  <li><a href="#/apis/lust/apis">API</a>
	  	<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
			</li>
	</ul>
		
		<div style="clear:both;"></div>
	</div>
</div>
