


<div class="prettybox">
	<h3 class="lightning purple">Method Editing</h3>
	<div class="prettybox-content">

<form>
<label>Method</label>
<input type="text" />
<label>Description</label>
<textarea></textarea>
<div class="method">
  <div class="request">
    <h4>Request</h4>
    <div class="content"> { username: "", password: "" }</div>
  </div>

  <div class="response">
    <h4>Response</h4>
    <div class="content">{ authenticated: false }</div>
  </div>
</div>
</form>

		
		<div style="clear:both;"></div>
	</div>
</div>

