

<div class="prettybox">
	<h3 class="lightning green">Methods</h3>
	<div class="prettybox-content">
<ul class="api-list">
  <li><a href="#/apis/lust/session/login">/login</a>
  
   	<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
			</li>
  <li><a href="#/apis/lust/session/logout">/logout</a>
   	<span class="buttons">
				<button class="edit" href="#/apis/lust">Edit</button>
				<button class="delete" href="#/apis/lust">Delete</button>
			</span>
  </li>
</ul>
		
		<div style="clear:both;"></div>
	</div>
</div>

