<div class="stack">
<div class="stack2of3">
	<div class="stackContent">
<div class="prettybox">
	<h3 class="lightning">Benefits</h3>
	<div class="prettybox-content">
		<div class="marketing">
			<ul>
			  <li>Marketing</li>
			  <li>Login/Register/Lost Password</li>
			  <li>Collaborative API design enviroment</li>
			  <li>Login/Register/Lost Password</li>
			</ul>
		</div>
		
		<div style="clear:both;"></div>
	</div>
</div>


<div class="prettybox">
	<h3 class="lightning">Benefits</h3>
	<div class="prettybox-content">
		<div class="marketing">
			<ul>
			  <li>Marketing</li>
			  <li>Login/Register/Lost Password</li>
			  <li>Collaborative API design enviroment</li>
			  <li>Login/Register/Lost Password</li>
			</ul>
		</div>
		
		<div style="clear:both;"></div>
	</div>
</div>
</div>
</div>

<div class="stack1of3" style="">
	<div class="stackContent" style="padding-left: 20px;">
		<div class="prettybox">
		<h3 class="orange">Login Form</h3>
		<div class="prettybox-content login" style="height: 300px;">
		<form class="loginForm" action=""  method="post">
		  <label>Username</label>
		  <input type="text" name="user">
		  <label>Password</label>
		  <input type="password" name="password">
		  <input type="submit" value="Submit" />
              </form>
               <p class="forgot">Forgot your <a href="#/forgot">password?</a></p>
 <div style="clear: both;"></div>           
 <p class="loginerror"></p>
		</div>
		</div>
		<div style="clear: both;"></div>
	
	</div>
	</div>
</div>

</div> <!-- stack -->
