<div class="stack">
    <div class="stack2of3">
    <div class="stackContent">
        <div class="prettybox">
            <h3 class="green">Marketing Stuff</h3>
                <div class="prettybox-content">
                    <ul>
                        <li>Some Crap</li>
                        <li>Some Crap</li>
                        <li>Some Crap</li>
                        <li>Some Crap</li>
                        <li>Some Crap</li>
                        <li>Some Crap</li>
                    </ul>
                </div>
            </div> 
    
    </div>
</div>
<div class="stack1of3">
    <div class="stackContent" style="padding-left: 20px;">
<div class="prettybox">
    <h3 class="orange">Register</h3>
    <div class="prettybox-content">

        <form class="registerForm" action=""  method="post">
          <label>Username</label>
          <input type="text" name="user">
          <label>Email</label>
          <input type="text" name="email">


          <label>Password</label>
          <input type="password" name="password">

          <label>Password Again</label>
          <input type="password" name="passworda">
          <p class="registrationerror"></p>
           <input type="submit" value="Submit" />
        </form>


        <div style="clear:both;"></div>
    </div>
</div>
</div>
</div>
</div>
